body{
    background-color: #ffe26a;
    margin: 0;
    font-family: 'Arvo', serif;
}
h1{
    color: red;
    font-family: 'Arvo';
}
img{
    margin: auto;
}
.card{
    padding: 10px;
    background-color: #abd699;
}
#pokedex{
    padding-inline: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    grid-gap: 20px;
}